﻿* { margin: 0.5; padding: 0.5; }

abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp { hyphens: none; }

html {
  padding: 2em;  /* distance of title from above*/

	font: normal 18px/1.25 Source Sans Pro, sans-serif;
	color: #000;
	hyphens: auto;
	word-wrap: break-word;

	background: #fff;
}

body > :first-child {
	margin-top: 0;
}

/* @group Headings */

h1,h2,h3,h4,h5,h6 {
	line-height: 1.5;
	margin: 0.5;
	margin-top: 1.9rem;
	text-rendering: optimizeLegibility;
}

h1 { font-size: 2.15rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.35rem; }
h4 { font-size: 1.05rem; }
h5 { font-size: 0.95rem; }
h6 { font-size: 0.8rem; }

h2 em, h3 em{
	color:grey;
}

/* @end */

small {
	font-size: 65%;
}

p {
	margin-top: .75rem;
}

hr {
	margin: .75rem 0;

	opacity: .5;
}

ol,ul {
	margin-top: .75rem;
}

ol ul, ol ol, ul ul, ul ol {
	margin-left: 2rem;
	margin-bottom: .75rem;
}

li {
	margin: .5em 0;
}

abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: #808080;
}

abbr[title]:hover {
	cursor: help;
}

/* @group Block Quotes */

blockquote {
	border-left: 5px solid #333;
	padding-left: .75em;
	margin-left: calc(-.75em - 5px);

	font-style: italic;
}

blockquote + figcaption {
	display: block;

	margin-top: -1.5rem;
	margin-bottom: 1.5rem;

	font-size: 75%;
	text-align: right;
}

blockquote + figcaption:before {
	content: "— ";

	opacity: .05;
}

/* @end */

/* @group Pre-formatted and Code */

pre {
	overflow: auto;

	margin: .75rem 0;
	padding: .5rem;

	font-size: .875em;
	white-space: pre;

	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 3px;
}

code {
	padding: 0 .25em;

	white-space: pre;
	font-family: Source Code Pro, monospace;

	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 3px;
}

pre code {
	padding: 0;

	word-wrap: normal;
	white-space: pre-wrap;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
}

/* @end */

/* @group Tables */

table {
	margin: .75rem 0;
	padding: 0;

	border-collapse: collapse;
}
table tr {
	margin: 0;
	padding: 0;

	border-top: 1px solid #ccc;
	background-color: #fff;
}
	table tr:nth-child(2n) {
		background-color: #f8f8f8;
	}

table tr th {
	margin: 0;
	padding: .35em .75em;

	font-weight: bold;
	text-align: left;

	border: 1px solid #ccc;
}

table tr td {
	margin: 0;
	padding: .35em .75em;

	text-align: left;

	border: 1px solid #ccc;
}

table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }

/* @end */
